*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: aquamarine;
    color: blue;
    height: 60px;
    font-size: 27px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

nav ul{
    list-style: none;
}

.gamecontainer{
    background-color: bisque;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);

}